@import url('https://fonts.googleapis.com/css?family=Arvo|Bitter|Crete+Round|Crimson+Text|Noticia+Text|Suez+One|Fira+Sans');

@media only screen and (min-width:0px) and (max-width:320px) {
  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:10% 90%;
    height:105px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index:20;
  }
  .logo, .navBurger{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .navBurger{
    font-size:1.5em;
    margin-left:40px;
  }
  .logo {
    margin-top:2px;
    margin-right:45px;
    font-size:2.2em;
  }
  .navAbout, .navResources, .navWhiteSpace, .navWorkShops, .navContact, .navServices{
    display:none;
  }
  .graySwitch:hover{
    font-size:1.2em;
    cursor:pointer;
    color:white;
    background-color: #D7D6D4;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heroWrapper{
    overflow: hidden;
    min-height: 100px;
    margin-top:-55px;
    /*margin-top:-55px;*/
  }
  .heroWrapper img {
    width:125%;
    margin-top:-15px;
    padding-top:40px;
  }
  .problemWrapper{
    margin-top:5px;
    /*border-top:1px solid black;*/
    /*border-bottom: 1px solid black;*/
    height:100vh;
    min-height: 576px;
    overflow:hidden;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 10px;*/
  }
  .problemSolution{
    display:none;
    display:grid;
    grid-template-rows: 1fr 1fr;
  }
  .problemStatement{
    display:none;
    width: 93%;
    height:90%;
    border:1px solid black;
  }
  .solutionStatement{
    display:none;
    width:93%;
    height:90%;
    border:1px solid black;
  }
  .exampleSolution{
    display:grid;
    grid-template-rows:42% 15% 35%;
    border:1px solid black;
    height:550px;
    width:90%;
    margin-top:25px;
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
  }
  .exampleSolution div img{
    height:225px;
    border-radius: 50%;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: 'Bitter', serif;
    margin-left:25px;
    margin-right:15px;
    font-size:1.5em;
    height:100%;
  }
  .heroName{
    display:flex;
    position:relative;
    top:175px;
    left:10px;
    font-size:1.9em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    display:flex;
    position:relative;
    top:182px;
    left:50px;
    font-size:1em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroGraduates{
    display:flex;
    position:relative;
    top:187px;
    left:50px;
    font-size:1em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:210px;
    left:63px;
    height:50px;
    width:150px;
    background: blue;
    color:white;
    z-index:19;
    font-size:1.3em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:blue;
    font-weight: bold;
    background-color:white;
    cursor:pointer;
  }
  .mobileNav{
  margin-top:105px;
  margin-bottom:-141px;
  height:375px;
  display:grid;
  grid-template-rows:1fr;
  padding-bottom:-75px;
  width:100%;
  }
  .mobileNav div{
  height:75px;
  color:white;
  border-bottom:1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: gray;
  padding-left:30px;
  font-size:1.5em;
  }
  .contactWrapper{
    display:grid;
    grid-template-rows: 10% 90%;
    height:91vh;
    min-height: 650px;
    margin-top:-10px;
  }
  .contactWrapperHeader {
    display: grid;
    grid-template-rows: 1fr;
  }
  .contactHeader {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    margin-top:25px;
  }
  .contactThanks {
    display:none !important;
  }

  .convertUser{
    display: grid;
    grid-template-rows: 1fr;
    height:500px;
  }
  .contactForm {
    background-color:#cccdce;
    border-radius: 5px;
    margin-left:15px;
    margin-top:25px;
    height:100%;
    width:92%;
  }
  .inputForm{
    display:grid;
    grid-template-rows:10% 10% 10% 40%;
    margin-top: 15px;
  }
  .inputName{
    margin-left:10px;
    margin-top:15px;
    height:40px;
    width:265px;
    border-radius:2px;
  }
  .inputPhone, .inputEmail{
    margin-top:25px;
    margin-left:10px;
    width:265px;
    height:40px;
    border-radius:2px;
  }
   .inputSend{
     margin-top:15px;
     margin-left:10px;
     width:272px;
     height:25px;
     border-radius:2px;
     background-color: white;
   }
  .inputTextArea{
    margin-top:25px;
    margin-left:10px;
    width:265px;
    height:200px;
    border-radius:2px;
  }
  .contactDetails{
    display:none;
    border:1px solid black;
    width:90%;
    height:81.5%;
    margin-top:25px;
    margin-left:25px;
    border-radius:5px;
  }
  .show{
  display:grid;
  }
  .hide{
  display:none;
  }
  }

@media only screen and (min-width:321px) and (max-width:375px) {
  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:20% 80%;
    height:100px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index:20;
  }
  .logo, .navBurger{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .navBurger{
    display:flex;
    justify-content: center;
    align-items: center;
    /*margin-left:40px;*/
    color:#170c6b;
  }
  .navBurger:hover{
    /*margin-left:40px;*/
    cursor:pointer;
    color:white;
    background-color:#990106;
  }
  .logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
  }
  .logoImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    margin-right:75px;
    z-index:1
  }
  .logo img:hover{
    cursor:pointer;
  }
  .navSlogan{
    display:none;
  }
  .navAbout, .navResources, .navWhiteSpace, .navWorkShops, .navContact, .navServices{
    display:none;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .heroWrapper{
    overflow: hidden;
    max-height:100vh;
    min-height: 750px;
    background-image:url('https://i.imgur.com/TGlZESH.jpg');
    width:100%;
    height:100%;
    background-position: top right -200px;
    background-repeat: no-repeat;
    /*background-position-x:left 100px;*/
    background-size:cover;

  }
  .problemWrapper{
    margin-top:-25px;
    /*border-top:1px solid black;
    border-bottom: 1px solid black;*/
    height:90vh;
    min-height: 200px;
    overflow:hidden;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .problemSolution{
    display:none;
    display:grid;
    grid-template-rows: 1fr 1fr;
  }
  .problemStatement{
    display:none;
    width: 93%;
    height:90%;
    border:1px solid black;
  }
  .solutionStatement{
    display:none;
    width:93%;
    height:90%;
    border:1px solid black;
  }
  .exampleSolution{
    display:grid;
    grid-template-rows:47% 5% 40%;
    border:1px solid black;
    height:550px;
    width:90%;
    margin-top:25px;
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
  }
  .exampleSolution div img{
    height:225px;
    border-radius: 50%;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    font-family: 'Bitter', serif;
    align-items:center;
    margin-left:25px;
    margin-right:15px;
    font-size:1.5em;
  }
  .heroName{
    display:flex;
    position:relative;
    top:150px;
    left:30px;
    font-size:2em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    display:flex;
    position:relative;
    top:150px;
    left:30px;
    font-size:1.8em;
    font-family:"Fira Sans", sans-serif;
    z-index:18;
    color:black;
    width:250px;
  }
  .heroGraduates{
    display:flex;
    position:relative;
    top:167px;
    left:50px;
    font-size:1.2em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Fira Sans', sans-serif;
    position:relative;
    top:190px;
    left:75px;
    height:50px;
    width:150px;
    background: white;
    color:#170c6b;
    z-index:19;
    font-size:1.3em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:white;
    font-weight: bold;
    font-family:'Fira Sans', sans-serif;
    background-color:#990106;
    cursor:pointer;
    font-size:1.5em;
  }

  .mobileNav{
  margin-top:100px;
  margin-bottom:-126px;
  height:375px;
  display:grid;
  grid-template-rows:1fr;
  padding-bottom:-75px;
  width:100%;
  }
  .mobileNav div{
  height:75px;
  color:#170c6b;
  border-bottom:1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-left:30px;
  font-size:1.5em;
  }
  .mobileNav div:hover{
    font-size:1.8em;
    background-color:#990106;
    color:white;
    cursor:pointer;
  }
  .contactWrapper{
    display:grid;
    grid-template-rows: 10% 90%;
    height:91vh;
    min-height: 650px;
  }
  .contactWrapperHeader {
    display: grid;
    grid-template-rows: 1fr;
  }
  .contactHeader {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    margin-top:25px;
  }
  .contactThanks {
    display:none !important;
  }

  .convertUser{
    display: grid;
    grid-template-rows: 1fr;
    height:500px;
  }
  .contactForm {
    background-color:#cccdce;
    border-radius: 5px;
    margin-left:30px;
    margin-top:25px;
    height:100%;
    width:85%;
  }
  .inputForm{
    display:grid;
    grid-template-rows:10% 10% 10% 40%;
    margin-top: 15px;
  }
  .inputName{
    margin-left:20px;
    margin-top:15px;
    height:40px;
    width:275px;
    border-radius:2px;
  }
  .inputPhone, .inputEmail{
    margin-top:25px;
    margin-left:20px;
    width:275px;
    height:40px;
    border-radius:2px;
  }
   .inputSend{
     margin-top:15px;
     margin-left:20px;
     width:282px;
     height:25px;
     border-radius:2px;
     background-color: white;
   }
  .inputTextArea{
    margin-top:25px;
    margin-left:20px;
    width:275px;
    height:200px;
    border-radius:2px;
  }
  .contactDetails{
    display:none;
    border:1px solid black;
    width:90%;
    height:81.5%;
    margin-top:25px;
    margin-left:25px;
    border-radius:5px;
  }

  .show{
  display:grid;
  }
  .hide{
  display:none;
  }
  }
@media only screen and (min-width:376px) and (max-width: 598px) {
  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:15% 85%;
    height:100px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index:20;
  }
  .logo, .navBurger{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .navBurger{
    display:flex;
    justify-content: center;
    align-items: center;
    /*margin-left:40px;*/
    color:#170c6b;
  }
  .navBurger:hover{
    /*margin-left:40px;*/
    cursor:pointer;
    color:white;
    background-color:#990106;
  }
  .logo {
    margin-top:2px;
    margin-right:80px;
    font-size:2.2em;
  }
  .navAbout, .navResources, .navWhiteSpace, .navWorkShops, .navContact, .navServices{
    display:none;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heroWrapper{
    overflow: hidden;
    max-height:100vh;
    min-height: 750px;
    background-image:url('https://i.imgur.com/TGlZESH.jpg');
    width:100% !important;
    height:100%;
    background-position: top right -200px;
    background-repeat: no-repeat;
    /*background-position-x:left 100px;*/
    background-size:cover;
  }
  .problemWrapper{
    /*border-bottom: 1px solid black;*/
    height:89vh;
    /*min-height: 670px;*/
    margin-top:-10px;
    overflow:hidden;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    /*margin-top:-130px;*/
  }
  .navSlogan{
    display:none;
  }
  .problemSolution{
    display:none;
    margin-top:75px;
    /*margin-left:25px;*/
    display:grid;
    grid-template-rows: 1fr 1fr;
  }
  .problemStatement{
    display:none;
    width: 93%;
    height:90%;
    border:1px solid black;
  }
  .logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
  }
  .logoImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:160px;
    margin-left:30px;
    z-index:1
  }
  .logo img:hover{
    cursor:pointer;
  }

  .solutionStatement{
    display:none;
    width:93%;
    height:90%;
    border:1px solid black;
  }
  .exampleSolution{
    display:grid;
    grid-template-rows:47% 5% 40%;
    border:1px solid black;
    height:550px;
    width:90%;
    /*margin-top:100px;*/
    /*margin-left:25px*/
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
    padding-top:0px;
  }
  .exampleSolution div img{
    height:225px;
    border-radius: 50%;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: 'Bitter', serif;
    margin-left:25px;
    margin-right:15px;
    font-size:1.5em;
  }
  .heroName{
    display:flex;
    position:relative;
    top:150px;
    left:30px;
    font-size:2em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    display:flex;
    position:relative;
    font-family:"Fira Sans", sans-serif;
    top:150px;
    left:50px;
    font-size:1.8em;
    z-index:18;
    color:black;
    width:250px;
  }
  .heroGraduates{
    display:flex;
    position:relative;
    top:167px;
    left:50px;
    font-size:1.2em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    font-family:'Fira Sans', sans-serif;
    top:170px;
    left:100px;
    height:50px;
    width:150px;
    background: white;
    color:#170c6b;
    z-index:19;
    font-size:1.3em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:white;
    font-weight: bold;
    font-family:'Fira Sans', sans-serif;
    background-color:#990106;
    cursor:pointer;
    font-size:1.5em;
  }

.mobileNav{
  margin-top:100px;
  margin-bottom:-126px;
  height:375px;
  display:grid;
  grid-template-rows:1fr;
  padding-bottom:-75px;
  width:100%;
}
.mobileNav div{
  height:75px;
  color:#170c6b;
  border-bottom:1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-left:30px;
  font-size:1.5em;
  width:100%;
}
.mobileNav div:hover{
font-size:1.8em;
background-color:#990106;
color:white;
cursor:pointer;
}

.show{
  display:grid;
}
.hide{
  display:none;
}
.contactWrapper{
  display:grid;
  grid-template-rows: 10% 90%;
  height:89vh;
  min-height: 650px;
  margin-bottom:-100px;
}
.contactWrapperHeader {
  display: grid;
  grid-template-rows: 1fr;
  margin-top:-10px;
}
.contactHeader {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:3em;
  margin-top:25px;
}
.contactThanks {
  display:none !important;
}

.convertUser{
  display: grid;
  grid-template-rows: 1fr;
  height:500px;
  margin-bottom:0px;
}
.contactForm {
  background-color:#cccdce;
  border-radius: 5px;
  margin-left:30px;
  margin-top:25px;
  height:100%;
  width:85%;
}
.inputForm{
  display:grid;
  grid-template-rows:10% 10% 10% 40%;
  margin-top: 15px;
}
.inputName{
  margin-left:20px;
  margin-top:25px;
  height:25px;
  width:300px;
  border-radius:2px;
}
.inputPhone, .inputEmail{
  margin-top:25px;
  margin-left:20px;
  width:300px;
  height:25px;
  border-radius:2px;
}
 .inputSend{
   margin-top:25px;
   margin-left:20px;
   width:307px;
   height:25px;
   border-radius:2px;
   background-color: white;
 }
.inputTextArea{
  margin-top:25px;
  margin-left:20px;
  width:300px;
  height:200px;
  border-radius:2px;
}
.contactDetails{
  display:none;
  border:1px solid black;
  width:90%;
  height:81.5%;
  margin-top:25px;
  margin-left:25px;
  border-radius:5px;
}
}
@media only screen and (min-width: 599px) and (max-width: 827px) {
  /*works until 595 pixels, may need another @media screen*/

  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:10% 46% 16% 14% 14%;
    height:105px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index:21;
  }
  .navBurger, .navWorkShops, .navContact, .navServices{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .navAbout, .navResources, .navWhiteSpace{
    display:none;
  }
  .logo{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*margin-left:200px;*/
    font-size:2em;
  }
  .logo img:hover{
    cursor:pointer;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heroWrapper{
    overflow: hidden;
    max-height:100vh;
    min-height: 580px;
    margin-top:75px;
    z-index:1;
    background-image:url('https://i.imgur.com/TGlZESH.jpg');
    background-position: top right;
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .graySwitch:hover{
    font-size:1.2em;
    cursor:pointer;
    color:white;
    background-color:#990106;
  }
  .heroWrapper img{
    width:145%;
    max-height:100%;
    /*margin-top:-144px;*/
    margin-left: -200px;
    z-index:1;
    margin-top:100px;
  }
  .navBurger{
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size:1.8em;*/
    margin-left:0px;
    color:#170c6b;
  }
  .navBurger:hover{
    /*font-size:3.8em;*/
    color:white;
    background-color:#990106;
    cursor: pointer;
  }
  .logoImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:173px;
    margin-left:30px;
    z-index:1
  }
  .navSlogan{
    display:none;
  }
  .problemWrapper{
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    opacity:1;
    z-index:1;
    /*border-top:1px solid black;
    border-bottom: 1px solid black;*/
    height:95vh;
    min-height: 800px;
    overflow:hidden;
    background-color: white;
    display:grid;
    grid-template-rows: 1fr 2fr;
    /*margin-top:-150px;*/
  }
  .problemWrapper:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    margin-left: 0px;
    z-index: -1;
    opacity: 0.7;
    background-image: url('https://i.imgur.com/XEqiYOT.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:"center";
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 170%;
}

  .problemSolution, .exampleSolution{
    grid-column:1
  }

  .problemSolution{
    margin-top:20px;
    margin-left:25px;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 2;
  }
  .problemStatement{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2.2em;
    font-weight: bold;
    padding-left:60px;
    padding-right:60px;
    line-height: 150%;
    width: 70%;
    height:90%;
    margin-top:-25px;
  }
  .solutionStatement{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif;
    color:black;
    font-size:2.2em;
    font-weight: bold;
    padding-left:60px;
    padding-right:60px;
    line-height: 150%;
    width: 70%;
    height:90%;
    /*border:1px solid black;*/
  }
  .exampleSolution{
    display:grid;
    grid-row:1;
    grid-template-columns:40% 18% 42%;
    /*border:1px solid black;*/
    height:250px;
    width:89.8%;
    margin-top:25px;
    margin-left:25px;
    /*margin-bottom:-100px;*/
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
    font-weight: bold;
    padding-top:0px;
  }
  .exampleSolution div img{
    height:185px;
    border-radius: 50%;
    display:block;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    font-family: 'Bitter', serif;
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    font-size:1.3em;
    /*letter-spacing: 0.01em;*/
  }
  .mobileNav{
    margin-bottom:-205px;
    padding-top:105px;
    height:75px;
    display:grid;
    grid-template-rows:1fr;
    z-index:2;
  }
  .mobileNav div{
    z-index:2;
  }
  .mobileNav div:hover{
    background-color:#990106;
    color:white;
    font-size:1.9em;
    cursor:pointer;
  }
  /*.mobileAbout{
    margin-bottom:-100px;
  }*/
  .heroName{
    display:flex;
    position:relative;
    top:150px;
    left:30px;
    font-size:3.3em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    display:flex;
    position:relative;
    font-family:'Fira Sans', sans-serif;
    top:75px;
    left:85px;
    font-size:2.05em;
    z-index:18;
    color:black;
    width:400px;
  }
  .heroGraduates{
    display:flex;
    position:relative;
    top:162px;
    left:85px;
    font-size:2em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    font-family:'Fira Sans', sans-serif;
    top:110px !important;
    left:160px;
    height:75px;
    width:200px;
    background: white;
    color:#170c6b;
    z-index:19;
    font-size:1.85em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:white;
    font-weight: bold;
    font-family:'Fira Sans', sans-serif;
    background-color:#990106;
    cursor:pointer;
    font-size:2em;
  }
  .show{
    display:grid;
  }
  .hide{
    display:none;
  }
.mobileNav{
  padding-top:105px;
  margin-bottom:-66px !important;
  height:150px;
  display:grid;
  grid-template-rows:1fr;
  z-index:22;
}
.mobileNav div{
  height:80.5px;
  color:#170c6b;
  border-bottom:1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-left:30px;
  font-size:1.5em;
}
.mobileWorkshops, .mobileContact, .mobileServices{
  display:none !important;
}
.contactWrapper{
  display:grid;
  grid-template-rows: 10% 90%;
  height:91vh;
  min-height: 750px;
}
.contactWrapperHeader {
  display: grid;
  grid-template-rows: 1fr;
}
.contactHeader {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:3em;
  margin-top:25px;
}
.contactThanks {
  display:none !important;
}

.convertUser{
  display: grid;
  grid-template-rows: 75%;
}
.contactForm {
  background-color:#cccdce;
  border-radius: 5px;
  margin-left:40px;
  margin-top:25px;
  height:100%;
  width:85%;
}
.inputForm{
  display:grid;
  grid-template-rows:10% 10% 10% 40%;
  margin-top: 15px;
}
.inputName{
  margin-left:40px;
  margin-top:25px;
  height:25px;
  width:350px;
  border-radius:2px;
}
.inputPhone, .inputEmail{
  margin-top:25px;
  margin-left:40px;
  width:350px;
  height:25px;
  border-radius:2px;
}
 .inputSend{
   margin-top:25px;
   margin-left:40px;
   width:357px;
   height:25px;
   border-radius:2px;
 }
.inputTextArea{
  margin-top:25px;
  margin-left:40px;
  width:350px;
  height:200px;
  border-radius:2px;
}
.contactDetails{
  display:none;
  border:1px solid black;
  width:90%;
  height:81.5%;
  margin-top:25px;
  margin-left:25px;
  border-radius:5px;
}
.show{
  display:grid;
}
.hide{
  display:none;
}
}
@media only screen
and (device-width : 1024px)
and (device-height : 768px)
and (orientation : landscape) {
  /*IPAD LANDSCAPE view - having to add way too may !important tags, unsure why*/
  body{
    margin:0px;
  }
  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:10% 50% 10% 10% 10% 10%;
    height:105px;
    background-color: white;
    border-bottom: 1px solid gray;
    z-index:21;
    margin-bottom:0px;
  }
  .logo, .navWorkShops, .navAbout, .navContact, .navServices, .navResources{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    font-size:2em;
    margin-left:300px;
  }
  .graySwitch:hover{
    /*font-size:1.2em;*/
    cursor:pointer;
    color:white;
    background-color: #D7D6D4;
  }
  .navAbout, .navWhiteSpace{
    display:none;
  }
  .navBurger{
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size:1.5em;*/
    margin-left:0px;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heroWrapper{
    overflow: hidden;
    max-height:93.1vh;
    min-height: 690px !important;
  }

  .heroWrapper img{
    width:160% !important;
    margin-left:-350px;
    margin-top:-240px;
  }
  .problemWrapper{
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    opacity:1;
    z-index:1;
    height:91vh;
    min-height:671px;
    overflow:hidden;
    background-color: white;
    display:grid;
    grid-template-columns: 60% 40%;
  }
  .problemWrapper:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    margin-left: 0px;
    z-index: -1;
    opacity: 0.7;
    background-image: url('https://i.imgur.com/XEqiYOT.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:"center";
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 120%;
}
  .problemSolution{
    margin-top:25px;
    margin-left:25px;
    display:grid;
    grid-template-rows: 1fr 1fr;
  }
  .problemStatement{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2.2em;
    font-weight: bold;
    padding-left:60px;
    padding-right:60px;
    line-height: 150%;
    width: 70%;
    height:90%;
    /*border:1px solid black;*/
  }
  .solutionStatement{
    display:flex;
    font-family: 'Bitter', serif;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2em;
    font-weight: bold;
    margin-left:50px;
    padding-left:10px;
    padding-right:60px;
    line-height: 150%;
    margin-top: 30px;
    /*background-color: white;*/
    width: 75%;
    height:90%;
    /*border:1px solid black;*/
  }
  .exampleSolution{
    display:grid;
    grid-template-rows:45% 5% 50%;
    /*border:1px solid black;*/
    height:91.3%;
    width:90%;
    margin-top:25px;
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
    padding-top:0px;
  }
  .exampleSolution div img{
    height:250px;
    border-radius: 50%;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    font-family: 'Bitter', serif;
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    font-size:1.7em;
    /*letter-spacing: 0.01em;*/
  }
  /*.mobileNav{
    padding-top:75px;
    height:75px;
    display:grid;
    grid-template-rows:1fr;
  }*/
  .heroName{
    display:flex;
    position:relative;
    top:150px;
    left:50px;
    font-size:4em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    display:flex;
    position:relative;
    top:175px;
    left:150px;
    font-size:2em;
    z-index:18;
    color:black;
    width:400px;
  }
  .heroGraduates{
    display:flex;
    position:relative;
    top:185px;
    left:150px;
    font-size:2em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    font-family:'Fira Sans', sans-serif;
    top:225px;
    left:220px;
    height:75px;
    width:200px;
    background: white;
    color:#170c6b;
    z-index:19;
    font-size:1.85em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:blue;
    font-weight: bold;
    background-color:white;
    cursor:pointer;
  }
  .mobileNav{
    margin-bottom:-105px !important;
    padding-top:105px;
    z-index:0;
  }
  .mobileNav div{
    height:90px;
    color:white;
    border-bottom:1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    padding-left:30px;
    font-size:1.5em;
  }
  .mobileNav div:hover{
    background-color:#990106;
    color:white;
    font-size:1.9em;
  }
  .mobileWorkshops, .mobileContact, .mobileServices, .mobileResources{
    display:none !important;
  }

  .contactWrapper{
    display:grid;
    grid-template-rows: 10% 90%;
    height:91vh;
    min-height: 650px;
  }
  .contactWrapperHeader {
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .contactHeader, .contactThanks {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    margin-top:25px;
  }

  .convertUser{
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .contactForm {
    background-color:#cccdce;
    border-radius: 5px;
    margin-left:40px;
    margin-top:25px;
    height:82%;
    width:85%;
  }
  .inputForm{
    display:grid;
    grid-template-rows:10% 10% 10% 40%;
  }
  .inputName{
    margin-left:20px;
    margin-top:25px;
    height:25px;
    width:300px;
    border-radius:2px;
  }
  .inputPhone, .inputEmail{
    margin-top:25px;
    margin-left:20px;
    width:300px;
    height:25px;
    border-radius:2px;
  }
   .inputSend{
     margin-top:25px;
     margin-left:20px;
     width:307px;
     height:25px;
     border-radius:2px;
   }
  .inputTextArea{
    margin-top:25px;
    margin-left:20px;
    width:300px;
    height:200px;
    border-radius:2px;
  }
  .contactDetails{
    border:1px solid black;
    width:90%;
    height:81.5%;
    margin-top:25px;
    margin-left:25px;
    border-radius:5px;
  }
  .mobileAbout{
    z-index:0 !important;
  }
  .show{
    display:grid;
  }
  .hide{
    display:none;
  }
}

@media only screen and (min-width:828px) and (max-width: 1024px) {
  body{
    margin:0px;
  }
  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:10% 45% 13.5% 10% 11.5% 10%;
    height:105px;
    background-color: white;
    border-bottom: 1px solid gray;
    z-index:21;
    margin-bottom:0px;
  }
  .logo, .navWorkShops, .navAbout, .navContact, .navServices, .navResources{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Fira Sans', sans-serif;
    color:#170c6b;
  }
  .logo{
    font-size:2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo img:hover{
    cursor:pointer;
  }
  .navAbout, .navWhiteSpace{
    display:none;
  }
  .navBurger{
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size:1.8em;*/
    margin-left:0px;
    color:#170c6b;
  }
  .navBurger:hover{
    /*font-size:3.8em;*/
    color:white;
    background-color:#990106;
    cursor: pointer;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heroWrapper{
    /*margin-top:10px;*/
    overflow: hidden;
    height:93.1vh;
    min-height: 671px;
    z-index:2;
    background-image:url('https://i.imgur.com/TGlZESH.jpg');
    width:100%;
    height:100%;
    background-size:cover;
    margin-top:100px;
    background-repeat: no-repeat;
  }

  .heroWrapper img{
    width:110%;
    margin-top:-120px;
  }
  .graySwitch:hover{
    font-size:1.2em;
    cursor:pointer;
    color:white;
    background-color: #990106;
  }
  .logoImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:173px;
    margin-left:30px;
    z-index:1
  }
  .navSlogan{
    display:none;
  }
  .middleWrapper{
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    opacity:1;
    z-index:1;
    height:91vh;
    min-height:671px;
    overflow:hidden;
    background-color: white;
    display:grid;
    grid-template-columns: 60% 40%;
  }
  .middleWrapper:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    margin-left: 0px;
    z-index: -1;
    opacity: 0.7;
    background-image: url('https://i.imgur.com/XEqiYOT.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:"center";
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 120%;
}
  .problemSolution{
    margin-top:25px;
    margin-left:25px;
    display:grid;
    grid-template-rows: 1fr 1fr;
  }
  .problemStatement{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2.2em;
    font-weight: bold;
    padding-left:60px;
    padding-right:60px;
    line-height: 150%;
    width: 70%;
    height:90%;
    /*border:1px solid black;*/
  }
  .solutionStatement{
    display:flex;
    font-family: 'Bitter', serif;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2em;
    font-weight: bold;
    margin-left:50px;
    padding-left:10px;
    padding-right:60px;
    line-height: 150%;
    margin-top: 30px;
    /*background-color: white;*/
    width: 75%;
    height:90%;
    /*border:1px solid black;*/
  }
  .exampleSolution{
    display:grid;
    grid-template-rows:45% 5% 50%;
    /*border:1px solid black;*/
    height:91.3%;
    width:90%;
    margin-top:25px;
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
    padding-top:0px;
  }
  .exampleSolution div img{
    height:250px;
    border-radius: 50%;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    font-family: 'Bitter', serif;
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    font-size:1.7em;
  }

  .heroName{
    display:flex;
    position:relative;
    top:150px;
    left:50px;
    font-size:4em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    display:flex;
    position:relative;
    position:relative;

    top:50px;
    left:75px;
    font-size:2.5em;
    z-index:18;
    color:black;
    width:400px;
  }
  .heroGraduates{
    display:flex;
    position:relative;
    top:185px;
    left:150px;
    font-size:2em;
    z-index:18;
    color:black;
    width:60%;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    font-family:'Fira Sans', sans-serif;
    top:75px;
    left:175px;
    height:75px;
    width:200px;
    background: white;
    color:#170c6b;
    z-index:19;
    font-size:1.85em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:white;
    font-weight: bold;
    font-family:'Fira Sans', sans-serif;
    background-color:#990106;
    cursor:pointer;
    font-size:2em;
  }
  .mobileNav{
    margin-bottom:-105px !important;
    padding-top:105px;
    z-index:0;
  }
  .mobileNav div{
    height:90px;
    color:#170c6b;
    border-bottom:1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:white;
    padding-left:30px;
    font-size:1.5em;
  }
  .mobileNav div:hover{
    background-color:#990106;
    color:white;
    font-size:1.9em;
  }
  .mobileWorkshops, .mobileContact, .mobileServices, .mobileResources{
    display:none !important;
  }

  .contactWrapper{
    display:grid;
    grid-template-rows: 10% 90%;
    height:91vh;
    min-height: 650px;
  }
  .contactWrapperHeader {
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .contactHeader, .contactThanks {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    margin-top:25px;
  }

  .convertUser{
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .contactForm {
    background-color:#cccdce;
    border-radius: 5px;
    margin-left:40px;
    margin-top:25px;
    height:82%;
    width:85%;
  }
  .inputForm{
    display:grid;
    grid-template-rows:10% 10% 10% 40%;
  }
  .inputName{
    margin-left:20px;
    margin-top:25px;
    height:25px;
    width:300px;
    border-radius:2px;
  }
  .inputPhone, .inputEmail{
    margin-top:25px;
    margin-left:20px;
    width:300px;
    height:25px;
    border-radius:2px;
  }
   .inputSend{
     margin-top:25px;
     margin-left:20px;
     width:307px;
     height:25px;
     border-radius:2px;
   }
  .inputTextArea{
    margin-top:25px;
    margin-left:20px;
    width:300px;
    height:200px;
    border-radius:2px;
  }
  .contactDetails{
    border:1px solid black;
    width:90%;
    height:81.5%;
    margin-top:25px;
    margin-left:25px;
    border-radius:5px;
  }
  .mobileAbout{
    z-index:0 !important;
  }
  .show{
    display:grid;
  }
  .hide{
    display:none;
  }

}
@media only screen and (min-width:1025px) and (max-width: 2560px) {
  body{
    margin:0px;
  }
  .navbar {
    display:grid;
    width:100%;
    position:fixed;
    top:0;
    grid-template-columns:15% 20% 12% 13% 10% 10% 10% 10%;
    height:90px;
    background-color: white;
    border-bottom: 1px solid gray;
    z-index:20;
  }
  .logo, .navWorkShops, .navAbout, .navContact, .navServices, .navResources, .navSlogan{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Fira Sans', sans-serif;
    color:#170c6b;
  }
  .graySwitch:hover{
    font-size:1.2em;
    cursor:pointer;
    color:white;
    background-color: #990106;
  }
  .logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
  }
  .logoImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:140px;
    margin-left:30px;
    z-index:1
  }
  .logo img:hover{
    cursor:pointer;
  }
  .navSlogan{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    z-index:2;
    margin-left:-10px;
  }
  .navBurger{
    display:none;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .heroWrapper{
    margin-top:55px;
    max-height:100vh;
    overflow: hidden;
    min-height: 675px;
    z-index:2;
    background-image:url('https://i.imgur.com/TGlZESH.jpg');
    width:100%;
    height:100%;
    /*background-position: top right;*/
    background-size:cover;
  }
  .problemWrapper{
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    opacity:1;
    z-index:1;
    height:89.8vh;
    min-height:671px;
    overflow:hidden;
    background-color: white;
    display:grid;
    grid-template-columns: 2fr 1fr;
  }
  .problemWrapper:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    margin-left: 0px;
    z-index: -1;
    opacity: 0.7;
    background-image: url('https://i.imgur.com/XEqiYOT.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:"center";
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 125%;
}
  .problemSolution{
    margin-top:25px;
    margin-left:25px;
    display:grid;
    grid-template-rows: 1fr 1fr;
  }
  .problemStatement{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2.8em;
    font-weight: bold;
    padding-left:60px;
    padding-right:60px;
    line-height: 150%;
    width: 70%;
    height:90%;
    /*border:1px solid black;*/
  }
  .solutionStatement{
    display:flex;
    font-family: 'Bitter', serif;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2.7em;
    font-weight: bold;
    margin-left:50px;
    padding-left:10px;
    padding-right:60px;
    line-height: 150%;
    margin-top: 30px;
    /*background-color: white;*/
    width: 75%;
    height:90%;
    /*border:1px solid black;*/
  }
  .exampleSolution{
    display:grid;
    grid-template-rows:50% 10% 40%;
    /*border:1px solid black;*/
    height:630px;
    width:90%;
    margin-top:25px;
  }
  .studentData{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2em;
    padding-top:5px;
  }
  .exampleSolution div img{
    height:300px;
    border-radius: 50%;
    display:block;
    margin-top:10px;
    margin-left: auto;
    margin-right:auto;
    opacity:1!important;
  }
  .exampleTestimonial{
    display:flex;
    justify-content: center;
    font-family: 'Bitter', serif;
    padding-left:15px;
    padding-right:15px;
    align-items: flex-start;
    font-size:1.6em;
    opacity:1;
    /*padding-bottom:40px;*/
    /*letter-spacing: 0.01em;*/
  }
  .heroWrapper img{
    margin-top:25px;
    width:100%;
    min-height:730px;
  }
  .heroName{
    position:absolute;
    top:175px;
    left:50px;
    font-size:5em;
    z-index:19;
    color:black;
  }
  .heroPartners{
    position:absolute;
    top:150px;
    left:60px;
    font-family:"Fira Sans", sans-serif;
    z-index:19;
    color:black;
    width:500px;
    font-size:3.1em;
  }
  .heroGraduates{
    position:absolute;
    top:320px;
    left:190px;
    font-size:2em;
    z-index:2;
    color:black;
    width:60%;
    z-index:19;
    font-size:2.4em;
  }
  .heroContact{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    font-family:'Fira Sans', sans-serif;
    top:400px;
    left:225px;
    height:75px;
    width:200px;
    background: white;
    color:#170c6b;
    z-index:19;
    font-size:1.85em;
    border-radius:5px;
  }
  .heroContact:hover{
    color:white;
    font-weight: bold;
    font-family:'Fira Sans', sans-serif;
    background-color:#990106;
    cursor:pointer;
    font-size:2em;
  }
  .contactWrapper{
    display:grid;
    grid-template-rows: 10% 90%;
    height:91vh;
    min-height: 650px;
  }
  .contactWrapperHeader {
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .contactHeader, .contactThanks {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    margin-top:25px;
  }

  .convertUser{
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .contactForm{
    background-color:#cccdce;
    border-radius: 5px;
    margin-left:70px;
    margin-top:25px;
    height:82%;
    width:85%;
  }
  .inputForm{
    display:grid;
    grid-template-rows:10% 10% 10% 40%;
  }
  .inputName{
    margin-left:40px;
    margin-top:25px;
    height:25px;
    width:300px;
    border-radius:2px;
  }
  .inputPhone, .inputEmail{
    margin-top:25px;
    margin-left:40px;
    width:300px;
    height:25px;
    border-radius:2px;
  }
   .inputSend{
     margin-top:25px;
     margin-left:40px;
     width:307px;
     height:25px;
     border-radius:2px;
   }
  .inputTextArea{
    margin-top:25px;
    margin-left:40px;
    width:300px;
    height:200px;
    border-radius:2px;
  }
  .contactDetails{
    border:1px solid black;
    width:90%;
    height:81.5%;
    margin-top:25px;
    margin-left:25px;
    border-radius:5px;
  }
  .mobileAbout{
    z-index:0 !important;
  }
  .mobileNav {
    display:none;
  }

}
@media only screen and (mind-width:2561px) and (max-width: 2880px) {
  body{
    margin:0px;
  }
  .navbar {
    display:grid;
    position:fixed;
    top:0;
    width:100%;
    grid-template-columns:10% 40% 10% 10% 10% 10% 10%;
    height:75px;
    background-color: white;
    border-bottom: 1px solid black;
  }
  .logo, .navWorkShops, .navAbout, .navContact, .navServices, .navResources{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .navBurger{
    display:none;
  }
  .contact{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .graySwitch:hover{
    font-size:1.2em;
    cursor:pointer;
    color:white;
    background-color: #D7D6D4;
  }
  .contactWrapper {
    height:100vh;
    background-color: lightblue;
    overflow:hidden;
  }
  img{
    margin-top:-150px;
    /*margin-left:-120px;*/
    width:100%;
  }
}
